<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

    </head>
    <body>
        <header>
            <!-- NavBar/Menu de l'app
                    -Accueil
                    -Accés à tous les menus
                    -Connexion
                    -Contact
             -->
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <img class="logo" src="{{ asset('images/logo_2.png') }}" alt="Logo Vite & Gourmand" width="200" height="200">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_accueil') }}">Accueil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_menus') }}">Menus</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                        </ul>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                        </li>
                    </div>
                </div>
            </nav>
        </header>

        {% block body %}
        {% endblock %}

        <footer>
            <!-- Pied de page
                -Horaires
                -Mentions Légales
                -CGV
             -->
            <footer class="footer">
                <div>
                    <img src="{{ asset('images/facebook-icon.png') }}" width="24">
                    <a href="https://www.facebook.com/" class="text-footer">Facebook</a>
                </div>

                <div>
                    <img src="{{ asset('images/instagram-icon.png') }}" width="24">
                    <a href="https://www.instagram.com/" class="text-footer">Instagram</a>
                </div>

                <div>
                    <a href="mailto:valle_thomas@hotmail.fr" class="text-footer">Mail</a>
                </div>

                <div>
                    <a href="#" class="text-footer">Mentions légales</a>
                </div>

                <p>&copy; 2026 Vite & Gourmand. Tous droits réservés.</p>
            </footer>
        </footer>

    </body>
</html>
